@import "tailwindcss";



@theme {
  --color-blue: #0C4572;
  --color-red: #A91F23;
  --color-gray:#636366;
  --color-dark-gray:#363536;
  --color-creama: #EEEBE3;

  --font-montserrat:'Montserrat Variable', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-inter: 'Inter Variable', sans-serif;
}

